<div class="book">
  <div class="title" (click)="testClick()">{{ book.title }}</div>
  <div>Author: {{ book.author }}</div>
  <div>ISBN: {{ book.isbn | isbn:'-' }}</div>
  <div>Publication date: {{ book.publicationDateUtc }}</div>
  <div *ngIf="book.tags && book.tags.length">
    Tags:
    <span *ngFor="let tag of book.tags" class="tag">{{tag}}</span>
  </div>
  <div>
    <a class="button" [routerLink]="['edit', book.id]">EDIT</a>
    <span class="button" (click)="deleteBook(book.id, book.title)">DELETE</span>
  </div>
</div>
