<div class="header">
  <a routerLink="/books">Books</a>
  <a routerLink="/users">Users</a>
</div>


<div *hideAfter="3000; then afterAdvertisement">VERY NICE ADVERTISEMENT</div>
<ng-template #afterAdvertisement>
  <div>CONTENT AFTER ADVERTISEMENT</div>
</ng-template>


<div [appHighlight]="'blue'" [colorAfterMouseLeave]="'red'" >
  For attribute directive demo
</div>

<p>
  <button
    (click)="condition = !condition">
    Toggle condition to {{condition ? 'false' : 'true'}}
  </button>
</p>

<p *appMyIfElse="condition">
  condition was true
</p>

<p *appMyIfElse="!condition">
  condition was false
</p>

<router-outlet></router-outlet>
