<div class="header">
  <a routerLink="/books">Books</a>
  <a routerLink="/users">Users</a>
</div>

<!--
<div *hideAfter="3000; then afterAdvertisement">VERY NICE ADVERTISEMENT</div>
<ng-template #afterAdvertisement>
  <div>CONTENT AFTER ADVERTISEMENT</div>
</ng-template>


<div [appHighlight]="'blue'" [colorAfterMouseLeave]="'red'" >
  For attribute directive demo
</div> -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true"
    ><p style="color: white">Loading...</p></ngx-spinner>
<router-outlet></router-outlet>
